---
import AboutLayout from '../../layouts/AboutLayout.astro';
---

<AboutLayout>
	<div class="px-8">
		<h1 class="sm:text-4xl text-2xl font-mono font-[100] pb-4">About</h1>
    <div class="font-mono text-md">
      <br>
      <br>
      <p class="pb-7">
        I work at a Web3 startup in the liquidity provider (LP) space. In my three years here, I've (naively) chased some of the startup's hardest technical problems including developer experience, system architecture, AWS cost optimization, and basic security.
      </p>
      <p class="pb-7">
        I've built this site for two reasons. One is to practice learning frontend web development, of which I have no firsthand work experience. Secondly, I want to document my experiences and thoughts in the industry, both for own personal references and for other people.
      </p>
      <p class="pb-7">
        Don't take the words here as gospel. I don't claim to be an authority on software engineering. I'm always open to hearing another perspective or to add color in places where I lack the experience. The same rules in life apply to this stuff - try a lot of things, see what works, and toss it if it doesn't.
      </p>
    </div>
	</div>
</AboutLayout>