---
import BlogListLayout from '../../layouts/BlogListLayout.astro';
---

<BlogListLayout>
	<div class="px-8">
		<h1 class="sm:text-4xl text-2xl font-mono font-[100] pb-4">Blog archive</h1>
		<p>Blog entry</p>
		<p>List item</p>
	</div>
</BlogListLayout>